html,
body {
    margin: 0;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

#principal-map {
    background-image: url('../../../assets/images/ceu2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100.8%;
    height: 100%;
    overflow-y: hidden;
}

.mapboxgl-popup {
    max-width: 600px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-ctrl-bottom-right {
    display: none;
}

.example-chip-list {
    width: 100%;
}