<button class="close" mat-button [mat-dialog-close]>X</button>
<div class="cont">
    <form #formUser="ngForm">
        <h2 mat-dialog-title>Novo Usuario</h2>
        <mat-dialog-content class="mat-typography">

            <div class="content content-left">

                <mat-form-field class="input" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="" [(ngModel)]="user.nome" name="nome" required minlength="5" #nome="ngModel" minlength="5">
                    <mat-error *ngIf="nome.errors">{{ getErrorMessage('nome') }}</mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="" required [(ngModel)]="user.username" name="username" #username="ngModel" minlength="5" disabled>
                    <mat-error *ngIf="username.errors">{{ getErrorMessage('username') }}</mat-error>
                </mat-form-field>



                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="pat@example.com" required [(ngModel)]="user.email" #email="ngModel" name="email" email>
                    <mat-error *ngIf="email.errors">{{ getErrorMessage('email') }}</mat-error>
                </mat-form-field>



            </div>

            <div class="content">


                <mat-form-field appearance="outline">
                    <mat-label>Departamento</mat-label>
                    <mat-select [(ngModel)]="user.departamento" name="departamento" departamento #departamento="ngModel" required>
                        <mat-option value="Suporte e Monitoramento">Suporte e Monitoramento</mat-option>
                        <mat-option value="Engenharia">Engenharia</mat-option>
                        <mat-option value="Contratos">Contratos</mat-option>

                    </mat-select>
                    <mat-error *ngIf="departamento.errors">{{ getErrorMessage('departamento') }}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Base</mat-label>
                    <mat-select [(ngModel)]="user.base" name="base" #base="ngModel" required>
                        <mat-option value="Fortaleza">Fortaleza</mat-option>
                        <mat-option value="Americanas">Americanas</mat-option>
                        <mat-option value="Sobral">Sobral</mat-option>
                        <mat-option value="Natal">Natal</mat-option>
                        <mat-option value="Mossoró">Mossoró</mat-option>
                        <mat-option value="São Luiz">São Luiz</mat-option>
                        <mat-option value="São Paulo">São Paulo</mat-option>
                        <mat-option value="Imperatriz">Imperatriz</mat-option>
                        <mat-option value="Juazeiro">Juazeiro</mat-option>
                    </mat-select>
                    <mat-error *ngIf="base.errors">{{ getErrorMessage('base') }}</mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Permissão</mat-label>
                    <mat-select [(ngModel)]="user.papeis" name="papeis" #papeis="ngModel" ngFor="let papel of papeis" required>

                        <mat-option *ngFor="let perm of permissions" value="{{perm.nome}}">{{perm.nome.toLowerCase()}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="papeis.errors">{{ getErrorMessage('papeis') }}</mat-error>


                </mat-form-field>

            </div>

        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-flat-button color="warn" mat-dialog-close>Cancelar</button>
            <button mat-flat-button class="btn-confim" [disabled]="formUser.invalid" [mat-dialog-close] (click)="editUser()"> Confirmar </button>
        </mat-dialog-actions>
    </form>
</div>