.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-typography {
    display: flex;
}

mat-form-field {
    min-width: 300px!important;
}

.content-left {
    margin-right: 30px;
}

.btn-confim {
    background-color: #3ec47a;
    color: #fff;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.close.mat-button {
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    float: right;
    margin-right: 5px;
}